/**Main Page**/
body {
    color: #2d0754;
    background-color: #f2f3fc;
}
.container h1 {
    font-family: Cambria, serif;
    font-size: 5em;
    text-align: center;
}
.secondName {
    font-family: Cambria, serif;
    font-size: 3em;
    text-align: center;
    font-style: italic;
}
/*Main Page about section*/
.aboutSection {
    text-align: center;
}
.aboutSection a {
    text-decoration: none;
}
.aboutSection a:hover {
    font-style: oblique;
    text-decoration: underline;
}
/*Main Page Parts and Products*/
.parts {
    text-align: center;
}
.products {
    text-align: center;
}
.search {
    text-align: center;
    font-size: 1em;
}

/*About Page*/
.aboutPage h1 {
    font-family: Cambria, serif;
    font-size: 5em;
    text-align: center;
    margin-bottom: 3px;
}
.mainScreen {
    text-align: center;
    font-size: larger;
    margin-bottom: 3px;
}
.mainScreen a {
    text-decoration: none;
}
.mainScreen a:hover {
    font-style: oblique;
    text-decoration: underline;
}
.aboutDesc {
    border: 2px solid #2d0754;
    padding: 3px;
}
/*Image Section on about page*/
.guitarPics {
    display: flex;
}
.img1 {
    flex: 33.33%;
    padding: 5px;
    width: 30%;
}
.img2 {
    flex: 33.33%;
    padding: 5px;
    width: 30%;
}