/**Main Page**/
body {
    color: #2d0754;
    background-color: #f2f3fc;
}
.container h1 {
    font-family: Cambria, serif;
    font-size: 5em;
    text-align: center;
}
.secondName {
    font-family: Cambria, serif;
    font-size: 3em;
    text-align: center;
    font-style: italic;
}
/*Main Page about section*/
.aboutSection {
    text-align: center;
}
.aboutSection a {
    text-decoration: none;
}
.aboutSection a:hover {
    font-style: oblique;
    text-decoration: underline;
}
/*Main Page Parts and Products*/
.parts {
    text-align: center;
}
.products {
    text-align: center;
}
.search {
    text-align: center;
    font-size: 1em;
}


/*About Page*/
.aboutPage h1 {
    font-family: Cambria, serif;
    font-size: 5em;
    text-align: center;
}
.mainScreen {
    text-align: center;
}
.mainScreen a {
    text-decoration: none;
}
.mainScreen a:hover {
    font-style: oblique;
    text-decoration: underline;
}